body{
    background-image: url("assets/images/bgproyek.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    color: lightcyan;
    font-family: "press start 2p";
    padding: 5px;
}
.gallery{
        display: inline-block;
        margin: 10px;
        text-align: center;
}
.gallery .description{
    color: lightcyan;
    font-family: "press start 2p";
    padding: 15px;
    text-align: center;
}
.gallery img{
    width: 115%;
    height: 250%;
    object-fit:fill;
    border-radius: 50px;
}
.navbar ul{
    list-style-type: none;
   background-color: lightslategray;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar li{
    float: left;
}
.navbar a:hover{
    background-color: black;
}
