body{
    background-image: url("bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    color:gray;
    font-family: "press start 2p";
    border-style:outset;
    border-width: 5px;
    border-color: lightgreen;
    border-radius: 10px;
    padding: 5px;
}
h2{
    color: grey;
    font-family: "consolas";
    border-style:outset;
    border-width: 5px;
    border-color: lightgreen;
    border-radius: 10px;
    padding: 5px;
}
p{
    color: grey;
    font-family: "consolas";
    font-size: 25px;
    font-weight: bold;
    font-style: normal ;
    border-style:outset;
    border-width: 5px;
    border-color: lightgreen;
    border-radius: 10px;
    padding: 5px;
}

button{
    color: black;
    font-size: 13px;
    font-weight: bolder;
}